[receive]
	requireChangeId = true
	requireSignedOffBy = true
[submit]
	action = cherry pick
	mergeContent = true
[project]
	state = active
[access "refs/heads/release-3.4/*"]
	owner = group release-3.4 maintainers
	abandon = group release-3.4 maintainers
	create = group release-3.4 maintainers
	forgeAuthor = group release-3.4 maintainers
	forgeCommitter = group release-3.4 maintainers
	editTopicName = group release-3.4 maintainers
	deleteDrafts = group release-3.4 maintainers
	push = group release-3.4 maintainers
	pushMerge = group release-3.4 maintainers
	submit = group release-3.4 maintainers
[access "refs/heads/release-3.3/*"]
	owner = group release-3.4 maintainers
