[receive]
	requireChangeId = true
	requireSignedOffBy = true
[submit]
	action = cherry pick
	mergeContent = true
[project]
[access "refs/heads/release-3.3"]
	owner = group release-3.4 maintainers
[access "refs/heads/release-3.4"]
	owner = group release-3.4 maintainers
	abandon = group release-3.4 maintainers
	create = group release-3.4 maintainers
	forgeAuthor = group release-3.4 maintainers
	forgeCommitter = group release-3.4 maintainers
	push = group release-3.4 maintainers
	pushMerge = group release-3.4 maintainers
	pushTag = group release-3.4 maintainers
	pushSignedTag = group release-3.4 maintainers
	rebase = group release-3.4 maintainers
	submit = group release-3.4 maintainers
	editTopicName = group release-3.4 maintainers
	deleteDrafts = group release-3.4 maintainers
[access "refs/*"]
	submit = group glusterfs-maintainers
	pushTag = group glusterfs-maintainers
	pushSignedTag = group glusterfs-maintainers
[access "refs/heads/*"]
	create = group glusterfs-maintainers
	push = group glusterfs-maintainers
	pushTag = group glusterfs-maintainers
	pushSignedTag = group glusterfs-maintainers

[label "Smoke"]
	function = MaxWithBlock
	value = -1 Smoke passed
	value = 0
	value = +1 Smoke failed

[label "CentOS regression"]
	function = MaxWithBlock
	copyAllScoreOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	value = -1 CentOS regression passed
	value = 0
	value = +1 CentOS regression failed

[label "NetBSD regression"]
	function = MaxWithBlock
	copyAllScoresIfNoCodeChange = true
	value = -1 NetBSD regression passed
	value = 0
	value = +1 NetBSD regression failed
