#!/bin/bash

#count the number of entries marked for self-heal
#in brick $1's index

function count_sh_entries()
{
    val1=0
    for g in `ls $1/.glusterfs/indices/xattrop`
    do
	val1=$(( val1 + 1 ))
    done

    echo $val1;
}
