#!/bin/bash


# Due to portmap registration NFS takes some time to
# export all volumes. Therefore tests should start only
# after exports are visible by showmount command. This
# routine will check if showmount shows the exports or not
#
function is_nfs_export_available ()
{
        vol=$1

        if [ "$vol" == "" ]; then
                vol=$V0
        fi

        exp=$(showmount -e 2> /dev/null | grep $vol | wc -l)
        echo "$exp"
}

function mount_nfs ()
{
        local e=$1
        local m=$2
        local opt=$3
        if [ ! -z "$opt" ]; then opt=",$opt"; fi
        mount -t nfs -o soft,intr,vers=3"$opt" $e $m
}
