# Brick is the basic unit of storage in the cluster. Typically it is a
# node in your cluster.
volume brick1
type transport/socket
option host 192.168.1.1
option remote-subvolume brick
option debug on
end-volume

volume brick2
type transport/socket
option host 192.168.1.2
option remote-subvolume brick
option debug on
end-volume

# Unify translator forms the core of the GlusterFS clustering all
# bricks together. Unify is configured with an appropriate scheduler
# that best matches your application I/O needs.
volume bricks
type unify
subvolumes brick1 brick2
option debug on
option scheduler alu
option scheduler.limits min-free-disk=60GB,num-open-files=10000
option scheduler.priority disk-usage=2GB,utility=1Mbps
end-volume