# Brick is the basic unit of storage in the cluster. Typically it is a
# node in your cluster.
Volume brick1
Type transport/socket
Option Host 192.168.1.1
Option RemoteSubVolume brick
Option Debug On
EndVolume

Volume brick2
Type transport/socket
Option Host 192.168.1.2
Option RemoteSubVolume brick
Option Debug On
EndVolume

# Unify translator forms the core of the GlusterFS clustering all
# bricks together. Unify is configured with an appropriate scheduler
# that best matches your application I/O needs.
Volume bricks
Type unify
SubVolumes brick1 brick2
Option Debug On
Option Scheduler alu
Option Scheduler.limits min_free_disk=60GB,num_open_files=10000
Option Scheduler.priority disk_usage=2GB,utility=1Mbps
EndVolume