### file: client-volume.spec.sample

##############################################
###  GlusterFS Client Volume Specification  ##
##############################################

#### CONFIG FILE RULES:
### "#" is comment character.
### - Config file is case sensitive
### - Options within a volume block can be in any order.
### - Spaces or tabs are used as delimitter within a line. 
### - Each option should end within a line.
### - Missing or commented fields will assume default values.
### - Blank/commented lines are allowed.
### - Sub-volumes should already be defined above before referring.

### Add client feature and attach to remote subvolume
volume client
  type protocol/client
  option transport-type tcp/client     # for TCP/IP transport
# option ibv-send-wr-size  131072
# option ibv-send-wr-count 4
# option ibv-recv-wr-size  131072
# option ibv-recv-wr-count 4
# option transport-type ib-sdp/client  # for Infiniband transport
  option remote-host 127.0.0.1      # IP address of the remote brick
# option remote-port 6996              # default server port is 6996
  option remote-subvolume brick        # name of the remote volume
end-volume

### Add writeback feature
#volume writeback
#  type performance/write-behind
#  option aggregate-size 131072 # unit in bytes
#  subvolumes client   
#end-volume

### Add readahead feature
#volume readahead
#  type performance/read-ahead
#  option page-size 65536     # unit in bytes
#  option page-count 16       # cache per file  = (page-count x page-size)
#  subvolumes writeback
#end-volume
 
### Add stat-prefetch feature
### If you are not concerned about performance of interactive commands 
### like "ls -l", you wouln't need this translator.
# volume statprefetch
#   type performance/stat-prefetch
#   option cache-seconds 2   # timeout for stat cache
#   subvolumes readahead
# end-volume
