Volume S
Type xport/socket
Option Host 192.168.1.2
Option RemoteSubVolume P
Option Debug On
EndVolume

Volume P
Type storage/posix
Option Directory /tmp
Option AllowIP 192.168.1.3
Option Debug Off
EndVolume

Volume U
Type sched/unify
SubVolumes S S1
Option Debug On
Option Scheduler alu
Option Scheduler.limits min_free_disk=60GB,num_open_files=10000
Option Scheduler.priority disk_usage=2GB,utility=1Mbps
EndVolume