[Unit]
Description=GlusterFS Self-Heal Daemon
After=network.target rpcbind.service
Before=network-online.target

[Service]
Type=forking
EnvironmentFile=/var/lib/glusterd/glusterd.info
LimitNOFILE=65536
ExecStartPre=-/bin/pkill -f '^/usr/sbin/glusterfs.*gluster/glustershd'
ExecStart= /usr/sbin/glusterfs -s localhost --volfile-id gluster/glustershd -p /var/lib/glusterd/glustershd/run/glustershd.pid -l /var/log/glusterfs/glustershd.log --xlator-option *replicate*.node-uuid=${UUID} -S /var/lib/glusterd/glustershd/run/${UUID}.socket
PIDFile=/var/lib/glusterd/glustershd/run/glustershd.pid
ExecStop=/bin/pkill -f '^/usr/sbin/glusterfs.*gluster/glustershd'
Restart=always

[Install]
WantedBy=multi-user.target
