[Unit]
Description=GlusterFS Management Daemon
After=network.target rpcbind.service
Before=network-online.target

[Service]
Type=forking
PIDFile=/var/lib/glusterd/run/glusterd.pid
LimitNOFILE=65536
ExecStart=/usr/sbin/glusterd -p /var/lib/glusterd/run/glusterd.pid --skip-shd-start --skip-nfsd-start
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
