[Unit]
Description=GlusterFS GFProxy Daemon
After=network.target rpcbind.service
Before=network-online.target

[Service]
Type=forking
EnvironmentFile=/var/lib/glusterd/glusterd.info
ExecStartPre=/bin/mkdir -p /var/lib/glusterd/gfproxy/run
ExecStart=/usr/sbin/glusterfs -s localhost --volfile-id gfproxy/groot -p /var/lib/glusterd/gfproxy/run/gfproxy.pid -l /var/log/glusterfs/gfproxyd.log -S /var/lib/glusterd/gfproxy/run/${UUID}.socket
PIDFile=/var/lib/glusterd/gfproxy/run/gfproxy.pid
ExecStop='pkill -f '^/usr/sbin/glusterfs.*gluster/gfproxy''
Restart=always

[Install]
WantedBy=multi-user.target
